In [9]:
import pandas as pd

In [10]:
a=pd.read_csv('gapminder1.tsv', delimiter = '\t')
a.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [11]:
a['country'].str.lower().head()

0    afghanistan
1    afghanistan
2    afghanistan
3    afghanistan
4    afghanistan
Name: country, dtype: object

In [12]:
a['country'].str.upper().head()

0    AFGHANISTAN
1    AFGHANISTAN
2    AFGHANISTAN
3    AFGHANISTAN
4    AFGHANISTAN
Name: country, dtype: object

In [13]:
a['country'].str.len().head()

0    11
1    11
2    11
3    11
4    11
Name: country, dtype: int64

In [14]:
# Helps strip whitespace(including newline) from each string in the Series/index from both the sides.
a['country'].str.strip().head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [15]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print ("Split Pattern:")
s.str.split(' ')

Split Pattern:

0              [Tom, ]
1    [, William, Rick]
2               [John]
3            [Alber@t]
dtype: object

In [16]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

s.str.cat(sep='_') # concatenating the vale with a separator

'Tom _ William Rick_John_Alber@t'

In [17]:
# Returns a Boolean value True for each element if the substring contains in the element, else False.
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

s.str.contains('Rick').values

array([False,  True, False, False])

In [18]:
a['continent'].str.contains('As').head()

0    True
1    True
2    True
3    True
4    True
Name: continent, dtype: bool

In [19]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print ("After replacing @ with $:")
s.str.replace('@','$') # replace @ with $

After replacing @ with $:

0             Tom
1     William Rick
2             John
3          Alber$t
dtype: object

In [20]:
# Repeats each element with specified number of times.
s.str.repeat(2)

0                      Tom Tom
1     William Rick William Rick
2                      JohnJohn
3                Alber@tAlber@t
dtype: object

In [21]:
s.str.count('m')

0    1
1    1
2    0
3    0
dtype: int64

In [22]:
s.str. startswith ('T')

0     True
1    False
2    False
3    False
dtype: bool

In [23]:
s.str.endswith('t')

0    False
1    False
2    False
3     True
dtype: bool

In [24]:
s.str.find('e')

0   -1
1   -1
2   -1
3    3
dtype: int64

In [25]:
s.str.findall('e')

0     []
1     []
2     []
3    [e]
dtype: object

In [26]:
s.str.swapcase() # swap lower to upper and vice versa

0             tOM
1     wILLIAM rICK
2             jOHN
3          aLBER@T
dtype: object

In [27]:
s.str.islower()

0    False
1    False
2    False
3    False
dtype: bool

In [28]:
s.str.isupper()

0    False
1    False
2    False
3    False
dtype: bool

In [29]:
s.str.isnumeric()

0    False
1    False
2    False
3    False
dtype: bool