In [3]:
# basic iteration (for i in object) produces −
# Series − values
# DataFrame − column labels
# Panel − item labels

import pandas as pd
import numpy as np
N=20

df = pd.DataFrame({
    'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
    'x': np.linspace(0,stop=N-1,num=N),
    'y': np.random.rand(N),
    'C': np.random.choice(['Low','Medium','High'],N).tolist(),
    'D': np.random.normal(100, 10, size=(N)).tolist()
    })

for col in df:
   print(col)

A
x
y
C
D

In [5]:
# To iterate over the rows of the DataFrame, we can use the following functions −

# iteritems() − to iterate over the (key,value) pairs
# iterrows() − iterate over the rows as (index,series) pairs
# itertuples() − iterate over the rows as namedtuples
df['A'].head()

0   2016-01-01
1   2016-01-02
2   2016-01-03
3   2016-01-04
4   2016-01-05
Name: A, dtype: datetime64[ns]

In [6]:
df = pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])
df

       col1      col2      col3
0  1.826604  1.305282 -1.010583
1 -0.417533  0.613913  0.725667
2 -1.116019 -0.656789 -0.727051
3 -0.789393 -0.316523  0.680679

In [7]:
for key,value in df.iteritems():
       print (key,value)

col1 0    1.826604
1   -0.417533
2   -1.116019
3   -0.789393
Name: col1, dtype: float64
col2 0    1.305282
1    0.613913
2   -0.656789
3   -0.316523
Name: col2, dtype: float64
col3 0   -1.010583
1    0.725667
2   -0.727051
3    0.680679
Name: col3, dtype: float64

In [15]:
df = pd.DataFrame(np.random.randn(4,3),columns = ['col1','col2','col3'])
for row_index,row in df.iterrows():
    print(row_index)
    print(row)

0
col1   -0.716274
col2    0.564314
col3    0.458358
Name: 0, dtype: float64
1
col1    0.259487
col2   -1.885669
col3   -0.104902
Name: 1, dtype: float64
2
col1   -0.372141
col2   -1.056993
col3   -0.552136
Name: 2, dtype: float64
3
col1    0.620776
col2   -0.792586
col3    0.646215
Name: 3, dtype: float64

In [16]:
df = pd.DataFrame(np.random.randn(4,3),columns = ['col1','col2','col3'])
for row in df.itertuples():
        print(row,type(row))

Pandas(Index=0, col1=-1.43634725763029, col2=1.1883184511638292, col3=0.3384953038450534) <class 'pandas.core.frame.Pandas'>
Pandas(Index=1, col1=-0.11450872952588687, col2=-0.02070193842990676, col3=-1.006953393954917) <class 'pandas.core.frame.Pandas'>
Pandas(Index=2, col1=-0.4873365686704276, col2=1.2365013705502093, col3=1.2421338637970014) <class 'pandas.core.frame.Pandas'>
Pandas(Index=3, col1=0.07147163384531212, col2=-0.4880452503483517, col3=-0.2488037076991291) <class 'pandas.core.frame.Pandas'>

In [17]:
for row in df.itertuples():
        if row[0]<2: 
            print(row)

Pandas(Index=0, col1=-1.43634725763029, col2=1.1883184511638292, col3=0.3384953038450534)
Pandas(Index=1, col1=-0.11450872952588687, col2=-0.02070193842990676, col3=-1.006953393954917)

In [18]:
for row in df.itertuples():
        if row[1]<0: 
            print(row)

Pandas(Index=0, col1=-1.43634725763029, col2=1.1883184511638292, col3=0.3384953038450534)
Pandas(Index=1, col1=-0.11450872952588687, col2=-0.02070193842990676, col3=-1.006953393954917)
Pandas(Index=2, col1=-0.4873365686704276, col2=1.2365013705502093, col3=1.2421338637970014)