In [1]:
# pct_change() compares every element with its prior element and computes the change percentage.

import pandas as pd
import numpy as np
s = pd.Series([1,2,3,4,5,4])
s.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.250000
5   -0.200000
dtype: float64

In [2]:
df = pd.DataFrame(np.random.randn(5, 2))
df.pct_change()

          0         1
0       NaN       NaN
1  2.343939  1.323391
2 -1.045738 -1.860507
3 -3.154778  0.399158
4  6.746823 -0.753169

In [3]:
#cov to compute covariance between series objects. NA will be excluded automatically.
# covariance is the mean value of the product of the deviations of two variates from their respective means.
s1 = pd.Series(np.random.randn(10))
s2 = pd.Series(np.random.randn(10))
s1.cov(s2)

-0.10163055342587372

In [4]:
# Covariance method when applied on a DataFrame, computes cov between all the columns.
frame = pd.DataFrame(np.random.randn(10, 5), columns=['a', 'b', 'c', 'd', 'e'])
frame['a'].cov(frame['b'])

0.4911317985263434

In [5]:
frame.cov()

          a         b         c         d         e
a  0.439105  0.491132 -0.251270 -0.416153  0.677825
b  0.491132  1.384351 -0.340371 -0.858550  0.136821
c -0.251270 -0.340371  0.763979  0.546551 -0.397896
d -0.416153 -0.858550  0.546551  2.185024 -0.398901
e  0.677825  0.136821 -0.397896 -0.398901  1.782752

In [6]:
# Correlation shows the linear relationship between any two array of values (series). 
# There are multiple methods to compute the correlation like pearson(default), spearman and kendall.

frame = pd.DataFrame(np.random.randn(10, 5), columns=['a', 'b', 'c', 'd', 'e'])

frame['a'].corr(frame['b'])

0.22033385843512726

In [7]:
frame.corr()

          a         b         c         d         e
a  1.000000  0.220334  0.332335  0.143769  0.183832
b  0.220334  1.000000  0.083769  0.253385 -0.121541
c  0.332335  0.083769  1.000000 -0.544769 -0.385002
d  0.143769  0.253385 -0.544769  1.000000  0.523946
e  0.183832 -0.121541 -0.385002  0.523946  1.000000